
 
    <h1>Are you game?</h1>

    <p>Welcome to Restaurant Bingo, the game where you eat your way to success!</p>
	
    <section class="rules">
	
	<h2>How to play:</h2>
	
		<ol>
			<li>Players must eat at 24 unique restaurants in Chicago, each starting with one different letter of the alphabet.</li>
			<li>Players should keep track of their progress on the interactive bingo card.</li>
			<li>To prove their visit to each restaurant, players must either take a photo of themselves with the menu or "check in" (if feature is available).</li>
			<li>Players will have 12 months to complete their bingo card.</li>
			<li>Players each get one "wild card" which they can substitute for any letter.</li>
		</ol>	
			
	<h2>Some guidelines:</h2>		
			
		<ol>	
			<li>To count as a restaurant (as opposed to a bar), the establishment must have a distinguished food menu (as opposed to, say, a popcorn machine).</li>
			<li>Chain restaurants NOT allowed; anything with more than 2 locations is a chain.</li>
			<li>Articles don't count in the name of the restaurant. For example, The Gage would count as "G", not "T".</li>
	
		</ol>
	
    </section>

   <aside>		
    <h3><a href="login.html">Log In</a></h3>
    Don't have an account? <a href="users/new.html">Create one!</a>
   </aside>

   


